@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Modern Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0; /* slate-200 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; /* slate-700 */
}
